#hidden{
    display: none;
}

.menu-container{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap;
}

.menu-link{
    color: black !important;
    font-weight: bold;
    text-decoration: none;
    margin: 20px;
    cursor: pointer;
}

.search-header-wrapper{
    position: relative;
}

.search-input{
    background-position: 8px 7px !important;
    padding: 5px;
    padding-left: 35px;
    border-radius: 100px;
    border: 1px solid #bbbbbb;
    height: 32px;
    outline: none;
}

.search-input-full{
    background-position: 8px 7px !important;
    padding: 5px;
    padding-left: 35px;
    border-radius: 100px;
    border: 0;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    height: 32px;
    width: 100%;
}

.search-result-bubble{
    height: 300px;
    width: 200px;
    position: absolute;
    background-color: white;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028),
      0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042),
      0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07);
}

.search-result-bubble-hidden{
    display: none;
}

.search-list-item{
    padding: 7px;
    margin: 10px 0;
    cursor: pointer;
}

.search-matches-found{
    color: gray;
    font-size: 0.9em;
    display: block;
}

.search-title{
    font-weight: bold;
    color: black;
}

.hero{
    padding: 50px 10%;
}

.hero-intro{
    width: 45%;
    min-width: 70px;
}

.hero-text{
    margin-top: 30px;
    line-height: 25px;
    color: #424242;
    font-size: 1em;
}

.hero-button{
    background-color: #212121;
    border: 0;
    color: white !important;
    text-decoration: none;
    padding: 15px;
    border-radius: 4px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

.navigation-link{
    color:#4e4e4e; 
    font-size: 1.2rem;
}

.chapter-header{
    font-weight: bold; 
    color: black;
}

.sidebar-button{
    background-color: #455458;
    border: 0;
    color: #ffffff !important;
    text-decoration: none;
    padding: 15px;
    border-radius: 4px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

.sidebar-header{
    margin: 5px 17px;
    font-weight: bold;
    font-size: 1.8rem;
    color: #656565;
}

.collaboration{
    width: 40%;
    min-width: 300px;
    -webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}

.chapters-container{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.chapter-box{
    margin: 10px;
    cursor: pointer;
    box-shadow:
      0 4.5px 5.6px rgba(0, 0, 0, 0.028),
      0 15px 18.8px rgba(0, 0, 0, 0.042),
      0 67px 84px rgba(0, 0, 0, 0.07)
    ;
    background-color: white;
    border: 5px solid transparent;
    box-sizing: border-box;
    min-height: 200px;
    height: auto;
    width: 240px;
    border-radius: 10px;
    padding: 20px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.chapter-box:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    border: 5px solid #2196F3;
}

.chapter-box-container{
    transition: opacity 0.2s ease 0s;
}

.chapter-box-preview{
    color: #a5a5a5;
    font-size: 0.8em;
}

.featured-container{
    background-color: #171717;
    padding: 40px 0;
}

.flex{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}

.flex-flow-rowwrap{
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;
}

.intro-chapters{
    max-width: 1000px;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero-box{
    flex-direction: column;
    border: 1px solid #cfcfcf;
    max-width: 300px;
    padding: 30px;
    margin-right: 30px;
    margin-top: 10px;
}

.navbar-default{
    background-color: #ffffff !important;
    border-color: transparent !important;
    box-shadow:
      0 0.8px 1.5px rgba(0, 0, 0, 0.015),
      0 6px 12px rgba(0, 0, 0, 0.03)
    ;
}

div.sidebar {
    padding: 0 20px;
    border-right: 1px solid transparent;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 70px;
}

/* width */
div.sidebar::-webkit-scrollbar {
    width: 10px;
}

/* Track */
div.sidebar::-webkit-scrollbar-track {
    background: #f0f7f9;
    border-radius: 10px;
}

/* Handle */
div.sidebar::-webkit-scrollbar-thumb {
    background: #3e99af61;
    border-radius: 10px;
}

/* Handle on hover */
div.sidebar::-webkit-scrollbar-thumb:hover {
    background: #3e99af;
}

.icon-bar-line{
    background-color: #9c9c9c;
}

.custom-navbar-toggle{
    /*border: 1px solid #ddd;*/
    border: none;
    margin-left: 15px;
}

#sidebar-wrapper{
    position: sticky;
    top: 0;
    padding: 0 !important;
    height: 100vh;
    background-color: #469db214;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

#content-container{
    font-size: 1.4rem;
    padding: 0;
}

#content-wrapper{
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

.content-wrapper-full{
    -webkit-transform: translateX(-14%) !important;
    -ms-transform: translateX(-14%) !important;
    transform: translateX(-14%) !important;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.col-md-9 > div {
    padding: 15px !important;
}

.col-md-9 {
    padding: 0 !important;
}

/*Add a header padding only on landing page*/
.row > .header{
    padding: 0 20px;
}

.mobile-side-bar{
    display: block;
    padding: 20px;
    padding-bottom: 70px;
    height: 100vh;
    width: 45%;
    min-width: 230px;
    background-color: white;
    z-index: 100;
    position: fixed;
    border-right: 1px solid #eaecef;
    overflow: auto;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out
}

.mobile-side-bar-hidden {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.sidebar-group .toctree-l1.current a {
    border-left: .5rem solid #86d4c8 !important;
}

.sidebar-group .toctree-l1 a.current {
    border-left-color: #3e99af !important;
}

.sidebar-group .toctree-l2 a {
    padding: .25rem 1rem .25rem 2.75rem !important;
}

.sidebar-group .toctree-l1 a {
    padding: .35rem 1rem .35rem 1.25rem;
}

.sidebar-group li{
    list-style: none;
}

.sidebar-group .toctree-l1 a, .sidebar .toctree-l2 a {
    font-weight: 400;
    display: inline-block;
    color: #2c3e50;
    line-height: 1.4;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: .5rem solid transparent;
}

.sidebar-group ul {
    padding: 0 !important;
}

.sidebar-group{
    margin: 0 -20px;
}

.sidebar-group-hidden{
    -webkit-transform: translateX(-100%) !important;
    -ms-transform: translateX(-100%) !important;
    transform: translateX(-100%) !important;
}

.sidebar-group-hidden-no-transition{
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-transform: translateX(-100%) !important;
    -ms-transform: translateX(-100%) !important;
    transform: translateX(-100%) !important;
}

.caption{
    margin: 16px;
    font-weight: bold;
    font-size: 2rem;
}

.drawer-top-links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-flow:column;
    flex-flow:column;
}

.center-items{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.documentwrapper{
    max-width: 840px;
    padding-top: 30px;
    width: 100%;
}

.divider{
    height: 20px;
    background-color: #797979;
    width: 2px;
    margin: 0 10px;
}

.blur-background{
    -webkit-filter:blur(1px);
    filter:blur(1px);
}


.arrow-svg{
    width: 50%;
}

.navbar-brand{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.document{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

/* Overrides some of bootstraps styling */

.progress-bar{
    width: 0%;
    position:-webkit-sticky;
    position:sticky;
    top: 0;
    -ms-grid-row-align: flex-start;
    -ms-grid-column-align: flex-start;
    place-self: flex-start;
}

.section > .sidebar{
    float: right;
    width: 40%;
    display: block;
    margin: 0 0 24px 24px;
    padding: 24px;
    background: #f3f6f6;
    border: solid 1px #e1e4e5;
}

.sidebar-title{
    display: block;
    font-weight: bold;
    background: #e1e4e5;
    padding: 6px 12px;
    margin: -24px;
    margin-bottom: 24px;
    font-size: 100%;
}

div.literal-block-wrapper{
    display: grid;
    min-width: 50%;
    max-width: 100%;
    width: auto !important;
    overflow: auto;
}

div.code-block-caption + div{
    width: 100%;
}

.highlighttable{
    width: 100%;
}

.highlighttable .linenos pre{
    word-break: normal;
    font-size: 12px;
    white-space: pre;
    padding: 11px 12px;
    display: block;
    overflow: auto;
    margin: 0 -10px;
    background-color: whitesmoke;
}


table.highlighttable td.code{
    overflow: auto;
}

.highlighttable .linenos{
    width: 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.highlighttable .code{
    max-width: initial;
}

div.body{
    min-width: 100px !important;
}

body{
    /*padding-top:50px !important;*
     */
    padding: 0 !important;
}
h2,h3,h4,h5,h6{
    border-color: transparent !important;
}

h1, h2{
    border-color: #eaecef !important;
    font-weight: bold !important;
}

/* Scale headers with the global font size */
h1{
    font-size: 2.3em !important;
    font-family: inherit !important;
}

h2{
    font-size: 1.5em !important;
    font-family: inherit !important;
}

h3{
    font-size: 1.2em !important;
    font-family: inherit !important;
}

h4{
    font-size: 1em !important;
    font-family: inherit !important;
}

h5{
    font-size: 0.9em !important;
    font-family: inherit !important;
}

h6{
    font-size: 0.8em !important;
    font-family: inherit !important;
}

ul{
    padding-left: 30px !important;
}
a{
    color: #3e99af !important;
    font-weight: bold;
}
img{
    padding: 10px;
}

blockquote{
    border-left: 5px solid #4ca0b0 !important;
}
*{
    word-break: break-word;
}
/* Collaboration illustration wraps here so we should change the hero intro with accordingly */
@media all and (max-width: 650px){
    .hero-intro{
        width: 80%;
        margin-bottom: 50px;
    }
}

@media all and (max-width: 993px){
    #sidebar-wrapper{
        position: relative;
        top: 0;
        height: auto;
    }
    
    div.sidebar{
        margin-top: 0;
    }
}

@media all and (min-width: 768px){
    .navbar-default{
        display: none;
    }

    .mobile-side-bar{
        display: none;
    }

    .sidebar-group{
        max-height: 100vh;
    }

}

@media all and (max-width: 767px){
    #content-wrapper{
        margin-top: 70px;
    }

    .search-header-wrapper{
        display: none;
    }
    .section > .sidebar{
        width: 100%;
    }
    .documentwrapper{
        padding-top: 70px;
    }
    #desktop-navigation-items{
        display: none;
    }
    .menu-container{
        display: none;
    }
    .menu-link{
        margin: 10px 0;
    }
}

/* Make font larger for phones */
@media all and (max-width: 480px){
    html{
        font-size: 11px !important;
    }
}

@media all and (min-width: 2000px){
    .chapter-box{
        width: 300px;
        height: 300px;
        font-size: 2rem;
    }

    .hero-intro{
        font-size: 2rem;
    }

    .navbar-header{
        font-size: 2rem;
    }

    .contentinfo{
        font-size: 2rem;
    }

    .documentwrapper{
        max-width: 1200px;
    }

    .search-input{
        background-position: 8px 14px !important;
        width: 300px;
        box-sizing: content-box;
    }

    .search-result-bubble{
        height: 300px;
        width: 300px;
    }

    div.body{
        max-width: 1200px;
    }

    body{
        font-size: 2rem;
    }
}

div[type="hidden"] {
    display: none !important;
    opacity: 0 !important;
}