Sphinx==3.4.0
sphinx-autobuild==2020.9.1
recommonmark==0.7.1
sphinx-markdown-tables==0.0.15
sphinxcontrib.yt==0.2.2
# sphinx-rtd-theme==0.5.0
# sphinxjp.themes.basicstrap==0.5.0

# dependencies for utils
beautifulsoup4==4.9.3
Markdown==3.3.3

# dependencies for gdoc2md script
google-api-python-client==1.12.8
google-auth-oauthlib==0.4.2
mdutils==1.3.0
